@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");
@import url("./fonts/registr.css");
@import url("./registrationForm.css");
@import url("./rot.css");
@import url("./defines.css");
html,
body {
  margin: 0px;
  padding: 0px;
}
* {
  outline: none;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
}
*:focus {
  outline: none;
}
*:focus-visible {
  outline: none;
}
.container-fluid {
  width: 90%;
  position: relative;
  max-width: 1300px;
}
header {
  font-family: "menu";
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
  z-index: 1;
}
.heading {
  background-color: #3d0302;
  height: 200px;
}
.heading .container-fluid {
  background-color: white;
  background-image: url("../files/SVG/jumbotron.svg");
  mask-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.logo {
  height: 35px;
}
svg {
  height: 100%;
}
.menu {
  text-decoration: none;
  color: #340100;
}
.menu a {
  color: inherit;
  margin-right: 10px;
}
.menu a:hover {
  text-decoration: underline;
}
.leftTop {
  text-transform: capitalize;
}
.textContent ol {
  font-family: "title";
  font-size: 1.5vw;
  list-style: none;
  color: var(--lightOrange);
  margin: 0px;
  padding-left: 40px;
}
.textContent ol .title {
  margin-left: -40px;
  font-size: 1.4em;
}
.heading img {
  /* width: 100%; */
}
.profileContainer {
  display: flex;
  align-items: center;
  height: 200px;
  float: right;
  color: white;
  font-size: 1.5em;
}
.userDetil {
  text-align: right;
  font-size: 0.9rem;
}
#profileImage {
  position: relative;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  background-color: white;
  background-image: url("../files/icons/anonymous_user.svg");
  background-position: center;
  background-size: contain;
  height: 180px;
  width: 180px;
  box-shadow: 0px 0px 10px 10px #c0c0c042;
}
/* #profileImage img {
  height: 100%;
  width: auto;
  min-height: 160px;
  max-height: 200px;
} */
#profileImage label {
  display: block;
  margin: 0px;
}
#uploadPicture {
  position: absolute;
  z-index: 1;
  color: black;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: rgba(192, 192, 192, 0.603);
  background-image: url("../files/icons/upload.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 50px;
}
.BlogSideImage {
  /* /* padding: 20px; */
  height: 80%;
  float: right;
  max-height: 200px;
  max-width: 220px;
  overflow: hidden;
}
.BlogSideImage img {
  margin-left: 20px;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  width: auto;
  float: right;
  border-radius: 5px;
}
.blogPreviewTitle {
  /* text-decoration: underline; */
  font-family: "title";
  text-transform: capitalize;
  font-size: 1.2em;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 5px 1px 0px #c0c0c021;
  margin-bottom: 10px;
  background: var(--darkBrown);
  /* background: rgba(235, 234, 233, 0.863); */
  border-bottom: 2px solid var(--orange);
}
.blogPreviewTitle p {
  margin-left: 20px;
  display: inline;
  color: white;
}
.previewContetn {
  margin: 20px;
  margin-bottom: 0px;
  overflow: hidden;
}
.blogPreviewInfo {
  font-size: 0.8rem;
  color: var(--darkBrown);
}
.blogPreviewInfo p {
  margin-bottom: 0.5rem;
}
.blogPreviewInfo a {
  color: inherit;
}
.blogPreviewInfo a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.textContent > p {
  font-family: "Open Sans";
}
.halfsideFooter {
  margin: 0px 20px 10px 20px;
  margin-top: 0px;
  display: block;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.halfsideFooter a {
  font-family: "Open Sans", sans-serif;
  float: right;
}
.halfsideFooter p {
  font-size: 0.7rem;
  margin-top: 5px;
}
.halfSide {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.096);
  border-radius: 10px;
  /* border: #ffa500 solid 2px; */
  /* border: var(--darkBrown) solid 1px; */
}
.halfSide .col-md-12 {
  padding-bottom: 5px;
  margin: 0px;
  padding: 0px;
}
.BlogList .col-md-6 {
  padding: 20px;
}
.BlogList .col-md-6:nth-child(even) .halfSide {
}
.CreateBloog {
  flex-direction: column;
  /* height: 80vh; */
  /* background-color: aqua; */
  /* margin: auto; */
  /* margin-top: -90px; */
  /* width: 95vw; */
  /* overflow: hidden; */
}
/* .CreateBloog form { */
/* height: 100%; */
/* background-color: #8a5d0b; */
/* } */
/* .CreateBloog .row {
  height: 100%;
  max-height: 100%;
  overflow: hidden; */
/* background-color: #8a5d0b; */
/* } */
/* .textArea { */
/* background-color: #7a705e; */
/* } */
.editPost {
  position: relative;
  width: 100%;
  height: 80%;
}
textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: silver 5px solid;
  border-left: silver 5px solid;
  border-radius: 10px;
}

/* textArea:focus-visible { */
/* border: var(--orange) 3px solid; */
/* } */
.editPost .add {
  /* position: absolute; */
  /* bottom: 5px; */
  /* left: 0; */
  /* display: inline-flex; */
  height: 40px;
}
.add input[type="file"] {
  display: none;
}
.sideButton {
  height: 100%;
  margin: 5px;
  border: none;
  /* background-color: var(--darkBrown); */
  /* color: var(--orange);
  border-radius: 10px; */
  background: transparent;
}

.sideButton.yellow {
  color: var(--darkBrown);
  background-color: var(--orange);
}
.add .sideButton.save,
.add .sideButton.cancel {
  display: none;
}

.fullContainer {
  background-color: white;
  z-index: 1;
  padding: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
}
.bottom-boxShadow {
  box-shadow: 0px 15px 10px 10px rgba(0, 0, 0, 0.096);
}
.CreateBlogHeader label {
  margin: 0px 0px 0px 20px;
  font-family: "Open Sans", sans-serif;
}
.preview {
  border: #ffa500 3px solid;
  position: relative;
  text-align: center;
  width: 200%;
  height: 200px;
  overflow: hidden;
  margin-left: 10px;
}
.preview img {
  width: 100%;
  height: auto;
  transform: none;
}
#publish {
  font-size: 18px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  background-color: var(--darkBrown);
  color: var(--orange);
  box-shadow: 0px 0px 20px 0px black;
  font-size: 1em;
}
.userAction {
  transform: translate(0px, -50%);
  height: fit-content;
  float: right;
  z-index: 1;
}
.button {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: var(--orange);
  border: none;
  color: var(--darkBrown);
}
.button:focus {
  outline: none;
}
.button:hover {
  font-family: "Poppins", sans-serif;
}
.Home {
  padding-top: 100px;
}

.simpleTextField {
  outline: none;
  border: none;
  border-bottom: 2px orange solid;
  background: transparent;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.codeBlock {
  max-width: 80%;
}
.modal .select {
  font-size: 20px;
  color: orange;
  background: none;
  border: none;
  margin-left: 50px;
}
.modal datalist {
  background-color: var(--darkBrown);
}
.textareaContainer {
  margin-top: 20px;
  height: 300px;
  min-height: 300px;
}
.author {
  /* font-family: "zigzag"; */
  font-size: 2em;
  text-transform: capitalize;
}
/* pre.preview {
  max-height: 200px;
} */
pre {
  max-height: 400px;
}
/* .preview img {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.329);
} */
#BlogTypePreview {
  display: flex;
  justify-content: end;
}
#BlogTitlePreview {
  display: flex;
  justify-content: center;
}
#BlogTitlePreview p {
  text-decoration: underline var(--orange);
}
#BlogCoverModal img {
  /* border-radius: 50%; */
  height: 100%;
  max-height: 400px;
  width: auto;
  /* max-width: 100%; */
}
.blog-selection {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* single blog reading page design*/
.singleBlog > div {
  padding: 0px;
}
.singleBlog > div:nth-child(1) {
  padding-right: 20px;
}
.singleBlog > div:nth-child(2) {
  padding-left: 20px;
}
.singleBlog > div > div {
  background-color: rgba(192, 192, 192, 0.253);
  padding: 10px;
  box-shadow: 0px 0px 10px #c0c0c0b8;
  border-radius: 5px;
}
.singleBlog .rightContent,
.singleBlog .mainContent {
  margin-bottom: 50px;
}
.rightContent .authorInfo {
  text-align: left;
  margin: 1rem;
}
.rightContent .title {
  text-align: right;
}
.rightContent .lists .list {
  border-bottom: 2px solid black;
  font-size: 1.1rem;
}
.rightContent .lists .list:hover {
  font-size: 1.05rem;
}
.singleBlog .about p {
  display: inline-block;
  margin-left: 100%;
  min-width: max-content;
  transform: translate(-100%, 0px);
}
.mainContent .about,
.mainContent .title p {
  font-weight: bold;
  margin: 20px;
  font-size: 2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.mainContent .title {
  text-decoration: underline;
  text-align: center;
}
.mainContent p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
p.subTitle {
  font-size: 1.5rem;
}
.authorInfo .authorPic {
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
}
#autorBottom {
  border-bottom: 2px solid var(--darkBrown);
  margin-bottom: 20px;
}

.subscribe-container {
  display: inline-block;
  position: relative;
  min-width: fit-content;
}
.subscribe-container .subscriptionBody {
  color: white;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 0px);
  margin-left: 50%;
  display: none;
}
.subscribe-container img {
  width: 20px;
  display: block;
  margin: auto;
  transform: rotate(180deg);
  margin-bottom: -7px;
}
.subscribe-container .subscriptionBody > div {
  margin: 0px;
  background-color: var(--darkBrown);
  padding: 20px;
  border: 2px solid var(--orange);
}
.subscribe-container input {
  color: white;
}
.subscribe-container .button {
  margin-left: 100%;
  transform: translate(-100%, 0px);
  padding: 5px 20px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 5px;
}
