:root {
  --orange: #ffa500;
  --darkBrown: #340100;
  --lightOrange: #ffed7d;
  --lightGreen: #32ff9a;
  --green: #32cd34;
  --lightRed: #fd1501;
  --red: #a52013;
  --Blue: #007bff;
  --grayBrown: #460436;
  --grayBrown1: #8f006c;
  --grayBrownLight: #ff00c1;
}
html::-webkit-scrollbar {
  width: 10px;
  background-color: #340100;
}
html::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 10px;
}
.simpleErrore {
  color: red;
}
